.emacs.d/elpa
.emacs.d/auto-save-list/*
.emacs.d/recentf
Applications/*
Desktop/*
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
bin/ls
projects/
.rvm
.ssh
.subversion/
.bundle/

.cache/
.config/
.current-project
.emacs.d-backup/
.emacs.d/backups/
.emacs.d/network-security.data
